<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="post" action="/login">
    <h2>Sign in</h2>
    <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username" required autofocus>
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required>
    </p>
    <input name="_csrf" type="hidden" value="e49793a3-8824-4a16-a938-856e42902599" />
    <button type="submit">Sign in</button>
</form>
</body>
</html>